* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  font-size: 1em;
}
img {
  display: block;
}

.search-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  background-color: #3f57b3;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px rgb(0 0 0 / 20%);
}
.icon-svg {
  height: 20px;
  width: 20px;
}
.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-form input {
  width: 25%;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 8px;
  font: inherit;
}
.search-form button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 3em;
  border: none;
  background-color: rgb(200, 200, 200);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.search-form button:hover,
.search-form button:focus {
  background-color: rgb(180, 180, 180);
  transition: all 0.3s;
}
.load-more {
  display: none;
  margin: 10px auto 10px auto;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3f57b3;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: white;
  cursor: pointer;
}
.load-more:hover {
  background-color: #2b3e88;
  transition: all 0.3s;
}
.is-hidden {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.photo-card {
  flex-basis: calc(100% / 4 -15px);
}
.photo-card:nth-child(4n) {
  margin-right: 0;
}
.info {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0 0 2px 2px;
}
.info-item {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-size: 0.9em;
}
.info-item:nth-child(4n) {
  margin-right: 0;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #212121;
  margin-right: 15px;
  margin-top: 15px;
}
